<div class="container">
  <div class="row h-100">
    <div class="col-sm-12" style="margin-top: auto;
    margin-bottom: auto; vertical-align: middle;">
      <div class="card card-block w-25" class="text-right "> 
          <button mat-flat-button color="primary" [disabled]="!dataLoaded" (click)="openDialog()" >
          Sign Up
        </button></div>
    </div>
  </div>
  Signed Up users
<table class="table"  *ngIf="signedIn.length > 0" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Company</th>
      <th scope="col">Job Role</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of signedIn;let i = index" > 
    <th scope="row"> {{i + 1}} </th>
    <td *ngIf="item.name">
      {{item.name}}
    </td>
    <td *ngIf="item.email">
      {{item.email}}
    </td>
    <td *ngIf="item.phone">
      {{item.phone}}
    </td>
    <td *ngIf="item.company">
      {{item.company}}
    </td>
    <td *ngIf="item.jrole">
      {{item.jrole}}
    </td>
    <td *ngIf="item.salary">
      {{item.salary}}
    </td>
  </tr>
  </tbody>
</table>
</div>